# Gradle build output
/build/
/out/
/target/
/bin/
/dist/
/tmp/
/.idea/
/*.iml
/*.ipr
/*.iws

# Gradle Wrapper
.gradle/
/.gradle/
/gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
/.kotlinc/

# IntelliJ IDEA-specific files
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Compiled class files
*.class
*.jar
*.war
*.ear

# Log files
*.log
logs/
hs_err_pid*

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.backup

# JetBrains-specific
/.idea_modules/
/.DS_Store

# Certificates and Keys
*.pem
*.crt
*.key

# Reports and caches
build/

# Ignore coverage, configuration, and verification artifacts
/reports/
/kover/
/configuration-cache/
/verifyPluginConfiguration/

# IntelliJ Plugin verification files
build/reports/
build/tmp/

# Resource cache
/build/resources/
/build/tmp/

.intellijPlatform/
.kotlin/sessions/

.run
